@model Case1WebApplication.Models.Student
@{
    ViewData["Title"] = "UpdateStudent";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


@using (Html.BeginForm("UpdateStudent", "Student", FormMethod.Post))
{
    <div style="margin-bottom:15px ">
        @Html.LabelFor(x=>x.Id)
        @Html.TextBoxFor(x=>x.Id,new{@class = "form-control"})
    </div>
    
    <div style="margin-bottom: 15px; ">
        @Html.LabelFor(x=>x.Name)
        @Html.TextBoxFor(x=>x.Name,new{@class = "form-control"})
    </div>
    <div style="margin-bottom:15px ">
        @Html.LabelFor(x=>x.Surname)
        @Html.TextBoxFor(x=>x.Surname,new{@class = "form-control"})
    </div>
    <div style="margin-bottom:15px ">
        @Html.LabelFor(x=>x.Midterm)
        @Html.TextBoxFor(x=>x.Midterm,new{@class = "form-control"})
    </div>
    <div style="margin-bottom:15px ">
        @Html.LabelFor(x=>x.Midterm)
        @Html.TextBoxFor(x=>x.Final,new{@class = "form-control"})
    </div>
    <button class="btn btn-success">Update</button>
}